{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header-->
<header class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-6 fw-bolder">O projekcie</h1>
            <p class="lead fw-normal text-black mb-0">Poznaj Pixel Donuts...</p>
        </div>
    </div>
</header>

<section class="py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        <h2>Filozofia</h2>
        <p class="fs-5">Filarem filozofii marki są oczywiście donuty!</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="{% static 'assets/donut_icon.gif' %}" alt="Donut" class="img-fluid w-25">
      </div>
    </div>
  </div>
</section>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        <img src="{% static 'assets/donut_icon2.gif' %}" alt="Donut" class="img-fluid w-25">
      </div>
      <div class="col-md-6 text-center">
        <h2>Cel projektu</h2>
        <p class="fs-5">Ta strona powstała jako projekt studencki.
        Prezentuje funkcjonalności sklepu z donutami: panel klienta z ofertą oraz panel administratora do zarządzania produktami i analizą sprzedaży.
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}