{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-5">
    <div class="container my-3 pb-5">
        <div class="card p-5 mx-auto auth-card">
            {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <h2 class="fw-bold text-center mb-4">Zarejestruj się</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-grid gap-3">
                    <button type="submit" class="btn btn-purple">Zarejestruj się</button>
                    <a href="{% url 'login' %}" class="btn btn-dark">Masz konto? Zaloguj się</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
